name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build and test
      run: set -o pipefail && env NSUnbufferedIO=YES xcodebuild test -scheme Puredux -destination "platform=iOS Simulator,name=iPhone 16" | xcpretty
